rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Allow all operations (EMULATOR / COLLEGE PROJECT ONLY)
    match /{document=**} {
      allow read, write: if true;
    }

  }
}
